@model BirKadınBirErkekTasarımMerkezi.Models.Kisim

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Kisim</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.KisimAdi)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.KisimAdi)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Kapasitesi)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Kapasitesi)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Bir Önceki Sayfa</a>
</div>
